In [1]:
import os
import pandas as pd
import math
import datetime as dt

In [2]:
path = os.getcwd()
df = pd.read_csv(os.path.join(path, os.path.join('data', 'wellspublic.csv')),
                 low_memory=False)
# notebook里可运行，但py里面就会报错？

In [3]:
df["Date_Well_Completed"] = pd.to_datetime(df["Date_Well_Completed"])
df = df[df["Date_Well_Completed"] > dt.datetime(1960, 1, 1)]

In [11]:
trim = df[["API_WellNo", "Well_Type", "Well_Name"]]

In [12]:
a = trim.groupby('ApI_WellNo').count()
a

KeyError: 'ApI_WellNo'

In [8]:
trim.index = trim['API_WellNo']

In [9]:
trim

                API_WellNo Well_Type                     Well_Name
API_WellNo
3.100120e+13  3.100120e+13        TH                             1
3.100120e+13  3.100120e+13        TH                             2
3.100120e+13  3.100120e+13        TH                             3
3.100120e+13  3.100120e+13        TH                             4
3.100120e+13  3.100120e+13        TH                             5
...                    ...       ...                           ...
3.112330e+13  3.112330e+13        DW  Cleon Martin 1 (626775)
3.112330e+13  3.112330e+13        DH        Weaver 1 (626773)
3.112330e+13  3.112330e+13        GE          Cook 1 (626940)
3.112360e+13  3.112360e+13        DH              Castner 1-S
3.112360e+13  3.112360e+13        DH                     Castner 1

[16722 rows x 3 columns]

In [10]:
dataset = trim.to_dict(orient="index")

ValueError: DataFrame index must be unique for orient='index'.